* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
}

main .main-intro {
  width: 100%;
  height: 40vh;
  background-color: #eaeefb;
  border-bottom-left-radius: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
}

main .main-intro h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #293356;
  z-index: 2;
  margin-top: 35px;
}

main .main-intro p {
  font-size: 1.2rem;
  color: #858fad;
  text-align: center;
  width: 50%;
  line-height: 2rem;
  margin-top: 5px;
  z-index: 2;
}

main .main-intro span {
  width: 150px;
  height: 150px;
  background-image: url("/images/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

main .main-prices {
  width: 100%;
  height: 350px;
  background-color: hsl 0, 0%, 100%;
  display: flex;
  justify-content: center;
}

main .main-prices article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 380px;
  border-radius: 10px;
  background-color: #fafbff;
  position: absolute;
  top: calc(50% - 120px);
  box-shadow: 0px 9px 20px 0px #8c8989;
  z-index: 2;
}

.main-prices .main-prices-barr {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-rows: repeat(4, 50px);
  color: #858fad;
  border-bottom: 1px solid #cdd7ee;
}

.main-prices-barr .price, .main-prices-barr .range, .main-prices-barr h2 {
  justify-self: center;
  align-self: center;
}

.main-prices-barr h2 {
  grid-row: 1;
  font-size: 1.5rem;
}

.main-prices-barr .range {
  grid-row: 2;
  width: 80%;
  max-width: 230px;
}

.main-prices-barr .price {
  grid-row: 3;
}

.main-prices-barr .tiempo {
  font-size: 1.6rem;
  color: #cdd7ee;
  font-weight: 300;
  text-align: center;
}

.main-prices .price span {
  font-size: 1.7rem;
  font-weight: 400;
  color: #858fad;
}

.main-prices-barr .price {
  font-size: 3.4rem;
  font-weight: bold;
  color: #293356;
}

.main-prices-barr-paid {
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  font-weight: 500;
}

.main-prices-barr-paid p {
  justify-self: center;
}

.main-prices-barr-paid p span {
  padding: 2px 4px;
  background-color: #feece7;
  color: #ff8c66;
  font-weight: bold;
  border-radius: 40px;
  vertical-align: text-bottom;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 80%;
  cursor: pointer;
  margin: auto;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #eaeefb;
  border-radius: 4px;
  height: 8px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #10d5c2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: -16px;
  padding: 4px;
}

input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 4px 6px 30px #10d5c2;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #cdd7ee;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main-prices-barr-paid .switch {
  width: 30px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.4s;
  width: 35px;
  height: 23px;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin-top: -5px;
  margin-left: -5px;
}

.slider.round:before {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.main-prices-barr-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-prices-barr-list ul {
  width: 80%;
  height: auto;
  list-style: none;
  margin: 20px;
  align-self: center;
  text-align: center;
}

.main-prices-barr-list ul li {
  font-size: 1.2rem;
  margin: 8px;
  color: #858fad;
}

.main-prices-barr-list ul li span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 3px;
  margin-right: 8px;
}

.main-prices-barr-list input {
  width: 180px;
  height: 40px;
  background-color: #293356;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fafbff;
  align-self: center;
  cursor: pointer;
}

.main-prices-barr-list input:hover {
  background-color: #bdccff;
}

footer {
  width: 96%;
  height: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: auto;
}